@tailwind base;
@tailwind components;
@tailwind utilities;
/* In index.css or global CSS file */

/*Root*/
:root {
  /* Font-Sizes for Laptop */
  --h1: 3.125rem; /*50px*/
  --h2: 2.625rem; /*42px*/
  --h3: 2rem; /*32px*/
  --h4: 1.5rem; /*24px*/
  --h5: 1.25rem; /*20px*/
  --h6: 1rem; /*16px*/
  --xl: 1.25rem; /*20px*/
  --lg: 1rem; /*16px*/
  --md: 0.875rem; /*14px*/
  --sm: 0.75rem; /*12px*/

  /*Colors*/
  --background-color: 250, 251, 250;
  --background-color2: #f5f5f5;
  --background-color3: #eaeef7;
  --background-color4: #fbf6fc;
  /* --primary-dark: 26, 95, 68; */
  /* --primary-color: #64baa9; */
  --primary-color: #2f80ed;
  --text-color: #4F4F4F;
  /* --secondary-color: #374ea2; */
  --secondary-color: #27ae60;
  --secondary-color2: #f2994a;
  --tertiary-color: #eb4824;
  /* --desc-color:#252525; */
  --desc-color1: #4f4f4f;
  --desc-color: #828282;
  --primary-color1: #001439;
  --primary-color2: #37474f;
  --border-color: #ebedf5;
  /* --primary-dark:100, 186, 169, 1; */
  --primary-dark: 28, 107, 217, 1;
  --primary-light: 69 186 140;
  /* --secondary-color-light:55, 78, 162, 0.2; */
  /* --secondary-color-light: 234, 238, 247, 0.2; */
  --secondary-color-light: 188, 200, 225, 0.2;

  /* --primary-gradient: linear-gradient(122deg, rgb(44, 83, 91) -26.29%, rgb(69, 186, 140) 118.11%); */
  --primary-gradient: linear-gradient(
    122deg,
    rgb(54, 161, 211) -26.29%,
    rgb(15, 167, 238) 118.11%
  );

  --primary-text: 49, 45, 45;
  --dark-gray: 158, 161, 176;
  --light-gray: 245, 245, 245;
  --off-white: 248, 250, 249;

  --light-blue: 15, 54, 89;

  --white: #ffffff;
  --black: #000000;

  --visa-gradient: linear-gradient(122deg, #4ca1af -26.29%, #c4e0e5 100%);
  --mastercard-gradient: linear-gradient(150deg, #600faf 0%, #0061ac 80%);
  --bc-gradient: linear-gradient(122deg, #2c535b -26.29%, #45ba8c 118.11%);
  --dinersclub-gradient: linear-gradient(270deg, #4b79a1 0%, #283e51 100%);
  --jcb-gradient: linear-gradient(44deg, #1f1c18 3.84%, #8e0e00 93.32%);
  --unionpay-gradient: linear-gradient(270deg, #2c3e50 0%, #3498db 100%);
  --discover-gradient: linear-gradient(43deg, #7b4397 -2.81%, #dc2430 100%);
  --americanexpress-gradient: linear-gradient(
    97deg,
    #30cfd0 4.1%,
    #330867 111.92%
  );
}

/* Font-Sizes for Mobile */
@media screen and (max-width: 767px) {
  :root {
    --h1: 2.375rem; /*38px*/
    --h2: 2rem; /*42px*/
    --h3: 1.625rem; /*32px*/
    --h4: 1.375rem; /*24px*/
    --h5: 1.25rem; /*20px*/
    --h6: 1rem; /*16px*/
    --xl: 1.25rem; /*20px*/
    --lg: 0.875rem; /*16px*/
    --md: 0.875rem; /*14px*/
    --sm: 0.75rem; /*12px*/
  }
}

* {
  /*Scrollbar for Mozilla*/
  scrollbar-width: none; /* Hide scrollbar */
  scrollbar-color: transparent transparent;

  /*For mozilla*/
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
}

/*Scrollbars*/

/* Hide scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; /* For Firefox */
}
* {
  -ms-overflow-style: none; /* IE and older Edge */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar width */
  height: 0px; /* Remove horizontal scrollbar */
  background-color: transparent; /* Make background transparent */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make the scrollbar thumb transparent */
}

/* Custom Scrollbar Styling for consistent appearance */

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #1a5f44 #f1f1f1; /* Thumb and Track colors */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px; /* Rounded track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(var(--primary-dark)); /* Thumb color */
  border-radius: 10px; /* Rounded thumb */
  border: 2px solid transparent; /* Smooth thumb padding */
  background-clip: padding-box; /* Smoothness */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #25597a; /* Darker thumb color on hover */
}

/* Prevent auto-hiding of the scrollbar */
.custom-scrollbar {
  -ms-overflow-style: scrollbar; /* For IE and Edge */
  overflow-y: scroll;
}

.animated-button {
  color: var(--white);
  background: linear-gradient(
    99deg,
    rgb(54, 161, 211) 30%,
    rgb(68, 183, 237) 70%,
    rgb(15, 167, 238) 100%
  );
  background-size: 150%;
  transition:
    background-position 0.8s ease-in-out,
    background-size 0.8s ease-in-out;
}

/* Apply the animated gradient effect only on hover */
.animated-button:hover {
  background-size: 200%;
  background-position: right center;
}

/* Keep disabled button without the effect */
.animated-button:disabled {
  background: rgb(var(--light-gray)) !important;
  color: rgb(var(--dark-gray));
  cursor: not-allowed;
}

body {
  background-color: rgb(var(--background-color));
  height: -webkit-fill-availible;
}
.rmdp-header {
  display: flex;
  justify-content: center;
  padding: 0 0 !important;
  margin-top: 0 !important;
  align-items: baseline !important;
}
.rmdp-arrow {
  border: solid rgb(var(--light-gray)) !important;
  border-width: 0px 2px 2px 0px !important;
}
.rmdp-header-values {
  color: rgb(var(--dark-gray)) !important;
  font-size: var(--md);
}

.rmdp-calendar {
  width: 366px;
}
.rmdp-calendar > div {
  width: 100%;
}

.rmdp-day-picker {
  display: block !important;
  width: 100%;
}

.rmdp-calendar > div {
  width: 100%;
}
.only.rmdp-month-picker,
.only.rmdp-year-picker {
  width: 100% !important;
}
.rmdp-calendar {
  box-shadow: none !important;
}
.rmdp-calendar > div {
  box-shadow: none !important;
}

.rmdp-week-day {
  color: #000 !important;
}
.rmdp-range {
  background: #d6e2eb !important;
  box-shadow: none !important;
  color: #000000 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 34px !important;
}
.rmdp-week,
.rmdp-ym {
  justify-content: stretch !important;
}
.rmdp-day,
.rmdp-week-day {
  width: 70% !important;
  height: 34px !important;
}
.rmdp-day.rmdp-today span {
  width: 70% !important;
  height: 100% !important;
  background-color: #1a5f44 !important;
}
.rmdp-day span {
  bottom: 0 I !important;
  top: 0 !important;
  height: 34px !important;
  width: 70% !important;
}
.rmdp-range-hover.start.end:not(.force),
.rmdp-range.start.end:not(.force) {
  background: transparent !important;
}
.rmdp-range-hover.start.end:not(.force),
.rmdp-range.start.end:not(.force) span {
  background: #d6e2eb !important;
}
.rmdp-range-hover.start.end:not(.force):hover,
.rmdp-range.start.end:not(.force):hover span {
  background: #7ea6f0 !important;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: #1a5f44 !important;
  width: 70% !important;
}

.rmdp-arrow-container {
  height: 17px !important;
  display: flex !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.css-hlgwow {
  padding: 0px 8px !important;
}
.css-13cymwt-control {
  background-color: transparent !important;
}

@media (hover: hover) {
  .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
    height: 100% !important;
    background: #7ea6f0 !important;
    width: 70% !important;
  }
}

@media (max-width: 320px) {
  .rmdp-calendar {
    width: 250px;
  }
  .rmdp-day.rmdp-today span {
    width: 100% !important;
    z-index: 10;
  }
  .rmdp-day.rmdp-selected span:not(.highlight) {
    width: 92% !important;
  }
  .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
    height: 100% !important;
    background: #7ea6f0 !important;
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .user-col {
    flex-direction: column;
  }
  .add-user-button {
    top: 106px;
  }
}
@media (max-width: 366px) and (min-width: 310px) {
  .recaptcha-container > div > div > div > div {
    position: absolute;
    left: -30px;
  }
  .recaptcha-container iframe {
    transform: scaleX(0.8) !important;
  }
}
@media (max-width: 639px) and (min-width: 321px) {
  .rmdp-calendar {
    width: 250px;
  }
  .rmdp-day.rmdp-today span {
    width: 100% !important;
    z-index: 10;
  }
  .rmdp-day.rmdp-selected span:not(.highlight) {
    width: 92% !important;
  }
  .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
    height: 100% !important;
    background: #7ea6f0 !important;
    width: 92% !important;
  }
}

/* Chart 1 */

.area-chart {
  height: 100% !important;
  max-height: 280px !important;
}

.react-player {
  border-radius: 10px;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-calendar {
  width: 350px !important; /* Forcefully override any conflicting styles */
  max-width: none !important; /* Remove max-width constraints */
}

/* Hide arrows in all browsers */
input[type="number"] {
  -webkit-appearance: textfield; /* Chrome, Safari, newer versions of Edge */
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

/* Additional styling to hide spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Horizontal Scrollbar Styling */
.data-table-scrollable {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrollbar */
}

.data-table-scrollable::-webkit-scrollbar {
  height: 8px; /* Set height for horizontal scrollbar */
}
.data-table-scrollable::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark); /* Thumb color */
  border-radius: 4px; /* Rounded scrollbar */
}

.data-table-scrollable::-webkit-scrollbar-track {
  background-color: var(--light-gray); /* Track color */
  border-radius: 4px; /* Rounded track */
}

.data-table-scrollable {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgb(var(--primary-dark)) rgb(var(--light-gray));
} /* Thumb and track colors */

.react-datepicker-wrapper {
  width: 100%;
}

.custom-shadow {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.sub-menu {
  overflow: hidden;
  transition: 200ms;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  display: none;
}

.apexcharts-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.tox-editor-header {
  background-color: #25597a !important;
}
.tox-editor-header > * {
  background-color: #25597a !important;
}
.tox
  .tox-toolbar-overlord
  .tox-toolbar:not(.tox-toolbar--scrolling):first-child,
.tox .tox-toolbar-overlord .tox-toolbar__primary {
  background-color: #25597a !important;
  border: 1px solid #25597a !important;
}
.tox .tox-tbtn {
  background-color: #25597a !important;
}
.tox .tox-tbtn svg {
  fill: #ffff !important;
}

.tox-edit-area::before {
  border: none !important;
}
.tox-tinymce {
  max-height: 200px !important;
}
.tox .tox-statusbar {
  display: none !important;
}
.tox .tox-tbtn--enabled {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.tox .tox-toolbar__group {
  gap: 10px !important;
}

/*Cards gradient classes*/
.bg-mastercard-gradient {
  background: var(--mastercard-gradient);
  background-size: 200% !important;
  transition: background 1s ease !important;
}

.bg-visa-gradient {
  background: var(--visa-gradient);
  background-size: 200% !important;
  transition: background 1s ease !important;
}

.bg-unionpay-gradient {
  background: var(--unionpay-gradient);
  background-size: 200% !important;
  transition: background 1s ease !important;
}

.bg-americanexpress-gradient {
  background: var(--americanexpress-gradient);
  background-size: 200% !important;
  transition: background 1s ease !important;
}

.bg-discover-gradient {
  background: var(--discover-gradient);
  background-size: 200% !important;
  transition: background 1s ease !important;
}

.bg-dinersclub-gradient {
  background: var(--dinersclub-gradient);
  background-size: 200% !important;
}

.bg-bc-gradient {
  background: var(--bc-gradient);
  background-size: 200% !important;
  transition: background 1s ease !important;
}

.bg-jcb-gradient {
  background: var(--jcb-gradient);
  background-size: 200% !important;
}

/*Global checkbox*/
.card-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.card-checkbox .checkbox {
  display: none;
}

.card-checkbox .checkmark {
  height: 16px;
  width: 16px;
  display: inline-block !important;
  min-height: 16px;
  min-width: 16px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 6px;
  border: 1.5px solid white;
  position: relative;
}

.card-checkbox .checkbox:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 8.75%;
  left: 8%;
  width: 11px;
  height: 11px;
  background-color: white; /* Inner circle color */
  border-radius: 50%;
}

/*Gradient checkbox*/
.gradient-checkbox .checkbox {
  display: none;
}

.gradient-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 20px;
}

.gradient-checkbox .checkmark {
  width: 16px;
  height: 16px;
  display: inline-block !important;
  border-radius: 50%;
  background-color: transparent;
  border: 1.5px solid rgb(var(--light-gray));
  position: relative;
}

.gradient-checkbox .checkbox:checked + .checkmark {
  border: 1.5px solid rgb(var(--primary-dark));
}

.gradient-checkbox .checkbox:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 8.5%;
  left: 9%;
  width: 11px;
  height: 11px;
  background: var(--primary-gradient);
  border-radius: 50%;
}

/* Remove default calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-clear-button {
  display: none;
}
